<section class="section section-box-icon">
  {{ include('@frontend/theme/particles/heading.html.twig') }}
  <div class="container box-icon-container">
    <div class="row box-icon-row">

      <a href="#" class="col-md-4 box-icon-col">
        <div class="box-icon">
          <div class="box-icon-icon">
            <i class="fas fa-basketball-ball"></i>
          </div>
          <div class="box-icon-title">
            <span class="heading">PROGRESSION</span>
          </div>
          <div class="box-icon-text">
            <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
          </div>
        </div>
      </a>

      <div class="col-md-4 box-icon-col">
        <div class="box-icon">
          <div class="box-icon-icon">
            <i class="fas fa-basketball-ball"></i>
          </div>
          <div class="box-icon-title">
            <span class="heading">PROGRESSION</span>
          </div>
          <div class="box-icon-text">
            <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
          </div>
        </div>
      </div>

      <a href="#" class="col-md-4 box-icon-col">
        <div class="box-icon">
          <div class="box-icon-icon">
            <i class="fas fa-basketball-ball"></i>
          </div>
          <div class="box-icon-title">
            <span class="heading">PROGRESSION</span>
          </div>
          <div class="box-icon-text">
            <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
          </div>
        </div>
      </a>

      <div class="col-md-4 box-icon-col">
        <div class="box-icon">
          <div class="box-icon-icon">
            <i class="fas fa-basketball-ball"></i>
          </div>
          <div class="box-icon-title">
            <span class="heading">PROGRESSION</span>
          </div>
          <div class="box-icon-text">
            <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
          </div>
        </div>
      </div>

      <a href="#" class="col-md-4 box-icon-col">
        <div class="box-icon">
          <div class="box-icon-icon">
            <i class="fas fa-basketball-ball"></i>
          </div>
          <div class="box-icon-title">
            <span class="heading">PROGRESSION</span>
          </div>
          <div class="box-icon-text">
            <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
          </div>
        </div>
      </a>

      <div class="col-md-4 box-icon-col">
        <div class="box-icon">
          <div class="box-icon-icon">
            <i class="fas fa-basketball-ball"></i>
          </div>
          <div class="box-icon-title">
            <span class="heading">PROGRESSION</span>
          </div>
          <div class="box-icon-text">
            <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
