<section class="section section-blank">
  {{ include('@frontend/theme/particles/heading.html.twig') }}
  <div class="container blank-container">
    <div class="row justify-content-center blank-row">
      <div class="col-lg-8 col-md-9 col-10 blank-col">
        <div class="blank-media">
          <img src="{{ asset(section.media.image) | imagine_filter('relative_resize_blank') }}" />
        </div>
        <div class="blank-text">
          {{ section.text[app.request.locale]|raw }}
        </div>
      </div>
    </div>
  </div>
</section>
