<section class="section section-slider -swiper">
  <div class="swiper">
    <div class="swiper-container">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="slide" style="background-image: url('/upload/images/about/jeremy-zero-oviIAOPmM4k-unsplash.jpg')">
            <div class="slide container">
              <div class="slide-wrapper">
                <div class="slide-title">
                  <h4>Slide Title THUNDER When The Sky Feels Sad</h4>
                </div>
                <div class="slide-text">
                  <p>Slide Title THUNDER When The Sky Feels Sad Slide Title THUNDER When The Sky Feels Sad Slide Title THUNDER When The Sky Feels Sad</p>
                </div>
                <div class="slide-button">
                  <a class="btn btn-primary" href="#">Button Text</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide" style="background-image: url('/upload/images/about/pexels-skitterphoto-63901.jpg')">
            <div class="slide container">
              <div class="slide-wrapper">
                <div class="slide-title">
                  <h4>Slide Title THUNDER When The Sky Feels Sad</h4>
                </div>
                <div class="slide-text">
                  <p>Slide Title THUNDER When The Sky Feels Sad Slide Title THUNDER When The Sky Feels Sad Slide Title THUNDER When The Sky Feels Sad</p>
                </div>
                <div class="slide-button" >
                  <a class="btn btn-primary" href="#">Button Text</a>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>

    <div class="swiper-button swiper-button-next -btn -circle">
      <i class="icomoon-right-arrow"></i>
    </div>
    <div class="swiper-button swiper-button-prev -btn -circle">
      <i class="icomoon-left-arrow"></i>
    </div>

  </div>
</section>