<section class="section section-slider -swiper">
  <div class="swiper">
    <div class="swiper-container">
      <div class="swiper-wrapper">

        <div class="swiper-slide" style="background-image: url('/upload/images/about/riccardo-annandale-7e2pe9wjL9M-unsplash.jpg')">
          <div class="slide-overlay" style="opacity: .25"></div>
          <div class="container slide-container">
            <div class="row slide-row">
              <div class="col-xl-6 col-10 slide-col">
                <div class="slide-title">
                  <span class="heading">GYM OR FITNESS</span>
                </div>
                <div class="slide-text">
                  <p>The Best Multipurpose One Page Template in Market</p>
                </div>
                <div class="slide-button">
                  <a class="btn btn-primary" href="#">Button Text</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide" style="background-image: url('/upload/images/about/umbrella-1588167_1280.jpg')">
          <div class="slide-overlay" style="opacity: .5"></div>
          <div class="container slide-container">
            <div class="row slide-row">
              <div class="col-xl-6 col-10 slide-col">
                <div class="slide-title">
                  <span class="heading">GYM OR FITNESS</span>
                </div>
                <div class="slide-text">
                  <p>The Best Multipurpose One Page Template in Market</p>
                </div>
                <div class="slide-button">
                  <a class="btn btn-primary" href="#">Button Text</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide" style="background-image: url('/upload/images/about/campaign-creators-gMsnXqILjp4-unsplash.jpg')">
          <div class="slide-overlay" style="opacity: .5"></div>
          <div class="container slide-container">
            <div class="row slide-row">
              <div class="col-xl-6 col-10 slide-col">
                <div class="slide-title">
                  <span class="heading">GYM OR FITNESS</span>
                </div>
                <div class="slide-button">
                  <a class="btn btn-primary" href="#">Button Text</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide" style="background-image: url('/upload/images/about/jeremy-zero-oviIAOPmM4k-unsplash.jpg')">
          <div class="slide-overlay" style="opacity: .5"></div>
          <div class="container slide-container">
            <div class="row slide-row">
              <div class="col-xl-6 col-10 slide-col">
                <div class="slide-title">
                  <span class="heading">GYM OR FITNESS</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-button swiper-button-next btn btn-circle">
      <i class="fas fa-chevron-right"></i>
    </div>
    <div class="swiper-button swiper-button-prev btn btn-circle">
      <i class="fas fa-chevron-left"></i>
    </div>

  </div>
</section>
