<section class="section section-map" style="height: 50vh;">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13251.19050746032!2d35.514066!3d33.869106!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x288b8b6461f6bc93!2sInternational%20Academy%20for%20Building%20Capacity%20IABC!5e0!3m2!1sen!2sde!4v1623765225647!5m2!1sen!2sde" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>
