{% set activeContents = section.contents|activeContents(app.request.locale) %}
<section class="section section-facts">
  <div class="container-fluid facts-container">
    <div class="row facts-row">
      {% for key,content in activeContents %}
      <div class="col-md-3 col-6 facts-col">
        <div class="fact">
          <div class="fact-number">
            <span class="heading">{{ content.title[app.request.locale] }}</span>
          </div>
          <div class="fact-title">
            <span class="heading">{{ content.subtitle[app.request.locale] }}</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
