<div class="btn btn-circle to-top"><i class="fas fa-chevron-up"></i></div>

<script src="{{ asset('build/vendor/jquery-3.6.0/jquery-3.6.0.min.js') }}"></script>
<script src="{{ asset('build/vendor/magnific/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('build/vendor/cookie-consent/cookieconsent.min.js') }}"></script>
{{ encore_entry_script_tags('app-js') }}
<script>
    window.cookieconsent.initialise({
        content: {
            "link": "",
            "href": ""
        },
        position: "bottom-right",
        revokable: true,
        law: {
            regionalLaw: true,
        },
        location: true,
    });
</script>

