{% extends "@backend/theme/layout-base.html.twig" %}
{% block body %}
  <div class="content-bar">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">All Forms</li>
      </ol>
    </nav>
    <a href="{{ path('backend_frontend-form_new') }}" class="btn">Add New Form</a>
  </div>
  <div class="content-wrapper">
    <div class="row cards">
      {% for key, form in forms %}
        <div class="col-3 mb-3">
          <div class="card">
            <div class="card-header">
              <a href="#" class="header-title h5">{{ form.name }}</a>
              <div class="card-options">
                <a href="{{ path('backend_frontend-form_edit', {id: form.id}) }}" class="option">
                  <i class="fas fa-pencil-alt"></i>
                </a>
                <a href="{{ path('backend_frontend-form_delete', {id: form.id}) }}" data-swal="Are you sure?" class="option">
                  <i class="far fa-trash-alt"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
