<div class="row cards">
  <div class="col-3 mb-3">
    <div class="card">
      <div class="card-header">
        <h5 class="header-title">Header Title</h5>
        <div class="card-options">
          <div class="option option-toggle collapsed" >
            <i class="option-icon fas fa-times" ></i>
          </div>
        </div>
      </div>
      <div class="card-icon">
        <img src="https://easy-control.ia-bc.com/upload/images/backend/category/slider.png">
      </div>
    </div>
  </div>

  <div class="col-3 mb-3">
    <div class="card">
      <div class="card-header">
        <h5 class="header-title">Header Title</h5>
        <div class="card-options">
          <div class="option option-toggle collapsed" >
            <i class="option-icon fas fa-times" ></i>
          </div>
        </div>
      </div>
      <div class="card-icon">
        <img src="https://easy-control.ia-bc.com/upload/images/backend/category/slider.png">
      </div>
    </div>
  </div>

  <div class="col-3 mb-3">
    <div class="card">
      <div class="card-header">
        <h5 class="header-title">Header Title</h5>
        <div class="card-options">
          <div class="option option-toggle collapsed" >
            <i class="option-icon fas fa-times" ></i>
          </div>
        </div>
      </div>
      <div class="card-icon">
        <img src="https://easy-control.ia-bc.com/upload/images/backend/category/slider.png">
      </div>
    </div>
  </div>

  <div class="col-3 mb-3">
    <div class="card">
      <div class="card-header">
        <h5 class="header-title">Header Title</h5>
        <div class="card-options">
          <div class="option option-toggle collapsed" >
            <i class="option-icon fas fa-times" ></i>
          </div>
        </div>
      </div>
      <div class="card-icon">
        <img src="https://easy-control.ia-bc.com/upload/images/backend/category/slider.png">
      </div>
    </div>
  </div>

  <div class="col-3 mb-3">
    <div class="card">
      <div class="card-header">
        <h5 class="header-title">Header Title</h5>
        <div class="card-options">
          <div class="option option-toggle collapsed" >
            <i class="option-icon fas fa-times" ></i>
          </div>
        </div>
      </div>
      <div class="card-icon">
        <img src="https://easy-control.ia-bc.com/upload/images/backend/category/slider.png">
      </div>
    </div>
  </div>

  <div class="col-3 mb-3">
    <div class="card">
      <div class="card-header">
        <h5 class="header-title">Header Title</h5>
        <div class="card-options">
          <div class="option option-toggle collapsed" >
            <i class="option-icon fas fa-times" ></i>
          </div>
        </div>
      </div>
      <div class="card-icon">
        <img src="https://easy-control.ia-bc.com/upload/images/backend/category/slider.png">
      </div>
    </div>
  </div>
</div>