<div class="card">
  <div class="card-body">
    <h3>Card Title</h3>
    <a href="#" class="btn mt-4 mb-4">Add New Content</a>
    <div class="contents">
      <div class="card">
        <div class="card-header">
          <h4 class="header-title" data-bs-toggle="collapse" data-bs-target="#cardOne">Header Title</h4>
          <div class="card-options">
            <div class="option option-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#cardOne">
              <i class="option-icon fas fa-times" ></i>
            </div>
            <div class="option">
              <i class="option-icon fas fa-times" ></i>
            </div>
            <div class="option">
              <i class="option-icon fas fa-times" ></i>
            </div>
          </div>
        </div>
        <div class="card-body collapse" id="cardOne">


          <h5>Card Title</h5>

          <div class="row input-control">
            <div class="col-12">
              <h5>Input Title</h5>
            </div>
            <div class="col">
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="col">
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="col">
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
          </div>

          <div class="row input-control">
            <div class="col-12">
              <h5>Input Title</h5>
            </div>
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Default checkbox
                </label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Default checkbox
                </label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Default checkbox
                </label>
              </div>
            </div>
          </div>

          <div class="row input-control">
            <div class="col-12">
              <h5>Input Title</h5>
            </div>
            <div class="col">
              <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="col">
              <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="col">
              <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>

          <div class="row input-control">
            <div class="col-12">
              <h5>Input Title</h5>
            </div>
            <div class="col">
              <label for="formFile" class="form-label">Default file input example</label>
              <input class="form-control" type="file" id="formFile">
            </div>
            <div class="col">
              <label for="formFile" class="form-label">Default file input example</label>
              <input class="form-control" type="file" id="formFile">
            </div>
            <div class="col">
              <label for="formFile" class="form-label">Default file input example</label>
              <input class="form-control" type="file" id="formFile">
            </div>
          </div>

          <div class="row input-control">
            <div class="col-12">
              <h5>Input Title</h5>
            </div>
            <div class="col">
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="col">
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="col">
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>


        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="header-title" data-bs-toggle="collapse" data-bs-target="#cardOne1">Header Title</h5>
          <div class="card-options">
            <div class="option">
              <i class="option-icon option-icon-toggle collapsed fas fa-times" data-bs-toggle="collapse" data-bs-target="#cardOne1"></i>
            </div>
          </div>
        </div>
        <div class="card-body collapse" id="cardOne1">



          <div class="row input-control">
            <div class="col-12">
              <h5>Input Title</h5>
            </div>
            <div class="col">
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="col">
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="col">
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
          </div>

          <div class="row input-control">
            <div class="col-12">
              <h5>Input Title</h5>
            </div>
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Default checkbox
                </label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Default checkbox
                </label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Default checkbox
                </label>
              </div>
            </div>
          </div>

          <div class="row input-control">
            <div class="col-12">
              <h5>Input Title</h5>
            </div>
            <div class="col">
              <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="col">
              <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="col">
              <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>

          <div class="row input-control">
            <div class="col-12">
              <h5>Input Title</h5>
            </div>
            <div class="col">
              <label for="formFile" class="form-label">Default file input example</label>
              <input class="form-control" type="file" id="formFile">
            </div>
            <div class="col">
              <label for="formFile" class="form-label">Default file input example</label>
              <input class="form-control" type="file" id="formFile">
            </div>
            <div class="col">
              <label for="formFile" class="form-label">Default file input example</label>
              <input class="form-control" type="file" id="formFile">
            </div>
          </div>

          <div class="row input-control">
            <div class="col-12">
              <h5>Input Title</h5>
            </div>
            <div class="col">
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="col">
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="col">
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>


        </div>
      </div>
    </div>
    <a href="#" class="btn mt-4 mb-4">Add New Content</a>
  </div>
</div>