<footer class="footer">
  <div class="container footer-container">
    <div class="row justify-content-center footer-row">
      <div class="col-md-6 col-12 footer-col">
        <div class="footer-links">
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Use</a>
          <a href="#">Legal</a>
          <a href="#">Site Map</a>
        </div>
        <div class="footer-copyrights">
          <p>© 2021. made with love by <a href="#">EazyControl</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
