<section class="section section-testimonial" style="background-image: url('{{ asset('/build/frontend/images/4.jpg') | imagine_filter('fixed_slider') }}')">
  <div class="testimonial-overlay" style="opacity: .75"></div>
  <div class="container testimonial-container">
    <div class="row testimonial-row">
      <div class="col-xl-6 col-10 testimonial-col">
        <div class="section-heading testimonial-heading">
          <div class="heading-subtitle testimonial-subtitle">
            <span>Passionate About Perfection</span>
          </div>
          <div class="heading-title testimonial-title">
            <span class="heading">OUR EXPERTS COACHES</span>
          </div>
        </div>
        <div class="testimonial-text">
          <p>We have a number of different teams within our agency that specialise in different areas of
            business so you can be sure that you won’t receive a generic service and although we can’t boast
            years and years of service we can ensure you that is a good thing in this industry. </p>
        </div>
        <div class="testimonial-name-position">
          <span class="heading">john smith - New York City </span>
        </div>
        <div class="testimonial-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
      </div>
    </div>
  </div>
</section>
