{% set activeContents = section.contents|activeContents(app.request.locale) %}
<section class="section-logos -swiper">
  {{ include('@frontend/theme/particles/heading.html.twig') }}
  <div class="container logos-container">
    <div class="swiper logos-swiper">
      <div class="swiper-container logos-swiper-container">
        <div class="swiper-wrapper logos-swiper-wrapper">
          {% for key,content in activeContents %}
          <div class="swiper-slide logo-swiper-slide col-lg-2 col-sm-3 col-6">
            <{% if content.link[app.request.locale]['url'] %}a href="{{ content.link[app.request.locale]['url'] }}" target="{{ content.link[app.request.locale]['target'] }}" {% else %}div{% endif%} href="#" class="logo">
              <img src="{{ asset(content.media.image) | imagine_filter('relative_resize_logos') }}">
            </{% if content.link[app.request.locale]['url'] %}a{% else %}div{% endif%}>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="swiper-button swiper-button-next btn btn-circle">
        <i class="fas fa-chevron-right"></i>
      </div>
      <div class="swiper-button swiper-button-prev btn btn-circle">
        <i class="fas fa-chevron-left"></i>
      </div>
    </div>
  </div>

</section>
