.section-blank {
  padding: ms(6) 0;
  @include breakpoint($breakpoints-md) {
    padding: ms(10) 0;
  }
  border-bottom: 1px solid $border;
}

.section-blank .blank-media {
  margin-bottom: ms(6);
}
