.section-box-icon {
  padding: ms(6) 0;
  @include breakpoint($breakpoints-md) {
    padding: ms(10) 0;
  }
  border-bottom: 1px solid $border;
}

.section-box-icon .box-icon-container {

}

.section-box-icon .box-icon-container .box-icon-row {
  margin-bottom: ms(6) * -1;
  align-items: stretch;
}

.section-box-icon .box-icon-container .box-icon-row .box-icon-col {
  margin-bottom: ms(6);
}

.section-box-icon .box-icon-container .box-icon-row .box-icon-col .box-icon {
  padding: 0 ms(6);
  text-align: center;
  height: 100%;
}

.section-box-icon .box-icon-container .box-icon-row .box-icon-col .box-icon .box-icon-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 90px;
  line-height: 90px;
  background: $white;
  color: $text;
  border: 1px solid rgba($border, 0.5);
  font-size: 28px;
  box-shadow: 0 0 2px 5px rgb($border, .4);
  text-align: center;
  border-radius: 50%;
  margin-bottom: ms(2);
  transition: all .35s ease-in-out;
}

.section-box-icon .box-icon-container .box-icon-row .box-icon-col:hover .box-icon .box-icon-icon {
  background: $alpha;
  color: $white;
  box-shadow: 0 0 2px 5px rgb($border, 0);
}

.section-box-icon .box-icon-container .box-icon-row .box-icon-col .box-icon .box-icon-title {
  margin-bottom: ms(2);

  &:after {
    content: '';
    width: 60px;
    height: 2px;
    background: $black;
    display: inline-block;
    margin-top: 10px;
    transition: all .35s ease-in-out;
  }

  & span {
    font-size: ms(4);
    color: $black;
    transition: all .35s ease-in-out;
  }
}

.section-box-icon .box-icon-container .box-icon-row .box-icon-col:hover .box-icon .box-icon-title {
  &:after {
    background: $alpha;
  }

  & span {
    color: $alpha;
  }
}
