.section-box-media {
  padding: ms(6) 0;
  @include breakpoint($breakpoints-md) {
    padding: ms(10) 0;
  }
  border-bottom: 1px solid $border;
}

.section-box-media .box-media-container {

}

.section-box-media .box-media-container .box-media-row {
  margin-bottom: ms(6) * -1;
  align-items: stretch;
}

.section-box-media .box-media-container .box-media-row .box-media-col {
  margin-bottom: ms(6);
}

.section-box-media .box-media-container .box-media-row .box-media-col .box-media {

}

.section-box-media .box-media-container .box-media-row .box-media-col .box-media .box-media-media {

}

.section-box-media .box-media-container .box-media-row .box-media-col .box-media .box-media-info {
  text-align: center;
  padding: ms(6) ms(6) 0px ms(6);
}

.section-box-media .box-media-container .box-media-row .box-media-col .box-media .box-media-info .info-title {
  margin-bottom: ms(1);

  & span {
    color: $black;
    font-weight: $font-weight-500;
    font-size: ms(5);
  }
}

.section-box-media .box-media-container .box-media-row .box-media-col:hover .box-media .box-media-info .info-title {
  & span {
    color: $alpha;
  }
}

.section-box-media .box-media-container .box-media-row .box-media-col .box-media .box-media-info .info-text {
  & p {
    font-size: ms(1);
  }
}
