.section-contact-form {
  padding: ms(6) 0;
  @include breakpoint($breakpoints-md) {
    padding: ms(10) 0;
  }
  border-bottom: 1px solid $border;
}

.section-contact-form .contact-form-row {
  margin-bottom: ms(6) * -1;
}

.section-contact-form .contact-form-row .contact-form-col {
  margin-bottom: ms(6);
}

.section-contact-form .col-info .info-text {
  margin-bottom: ms(2);
}

.section-contact-form .col-info .info-list {
  margin-bottom: ms(2);

  & ul li + li {
    margin-top: ms(-3);
  }
}

.section-contact-form .col-info .info-actions {

}
