.section-heading {
  text-align: center;
  margin-bottom: 30px;
  @include breakpoint($breakpoints-md) {
    margin-bottom: 50px;
  }
}

.section-heading .heading-subtitle {
  margin-bottom: 15px;

  & span {
    color: $black;
    @include scale(font-size, $font-size-h5);
  }
}

.section-heading .heading-title {
  & span {
    color: $black;
    font-weight: $font-weight-300;
    @include scale(font-size, $font-size-h4);
    @include scale(font-size, $font-size-h1);
  }
}
