.section-slider {

}

.section-slider .swiper-slide {
  padding: 100px 0;
  position: relative;
}

.section-slider .swiper-slide .slide-overlay {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: $black;
}

.section-slider .swiper-slide .slide-container {
  z-index: 100;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-slider .swiper-slide .slide-container .slide-row {
  z-index: 100;
  width: 100%;
  justify-content: center;
  visibility: hidden;
}

.section-slider .swiper-slide.swiper-slide-active .slide-container .slide-row {
  visibility: visible;
  animation:  fadeInUp;
  animation-duration: 2s;
}

.section-slider .swiper-slide .slide-container .slide-row .slide-col {
  text-align: center;
}

.section-slider .swiper-slide .slide-container .slide-row .slide-col .slide-title {
  margin-bottom: 20px;

  & .heading {
    font-size: 60px;
    color: $white;
  }
}

.section-slider .swiper-slide .slide-container .slide-row .slide-col .slide-text {
  margin-bottom: 20px;

  & p {
    color: $white;
    font-size: $font-size-h4;
  }
}

.section-slider .swiper-slide .slide-container .slide-row .slide-col .slide-title {

}




