#none {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba($color-background, .2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-alpha;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($color-alpha, 10);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

ol, ul, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
  margin: 0;
}

body {
  margin: 0;
  text-align: left;
}

i[class*="fa-"] {
  font-size: 14px;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

h1, h2, h3, h4, h5, h6, p{
  margin-top: 0;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none;
  border-bottom: none;
}

address {
  margin-bottom: 0;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

main {
  display: block;
}


svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0;
  padding-bottom: 0;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0;
}

button {
  border-radius: 0;
}

button:focus {
  outline: none;
}

pre {
  font-family: monospace, monospace;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  word-break: break-word;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  bottom: 0;
  top: 0;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
  &:focus {
    outline: 0;
  }
}

img {
  border-style: none;
}

button,
input {
  overflow: hidden;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: none;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0 none;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="button"],
[type="checkbox"],
[type="reset"],
[type="text"],
[type="time	"],
[type="tel"],
[type="submit"],
[type="week"],
[type="url"],
[type="color"],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="file"],
[type="image"],
[type="month"],
[type="number"],
[type="password"],
[type="radio"],
[type="range"],
[type="search"],
textarea {
  outline: none !important;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: 0;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

menu {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
  padding: 0;
  margin: 0;
}

.breadcrumb {
  margin: 0;
}