.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  color: $white;
  background-color: $alpha;
  border: 1px solid $alpha;
  padding: 9px 34px;
  @include scale(font-size, $font-size-h6);
  font-family: $headline-font-family;
  border-radius: 50px;
  transition: all .35s ease-in-out;

  &:hover {
    color: $alpha;
    background-color: transparent;
    border: 1px solid $alpha;
    box-shadow: none !important;

    & * {
      color: $alpha;
    }
  }

  &:focus,
  &:visited {
    color: $white;
    background-color: $alpha;
    border: 1px solid $alpha;
    box-shadow: none !important;

    & * {
      color: $white;
    }
  }

  &.btn-circle {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    @include scale(font-size, $font-size-base);
  }
}
