.-swiper {

}

.-swiper .swiper .swiper-container .swiper-wrapper {
  align-items: stretch;
}

.-swiper .swiper .swiper-container .swiper-wrapper .swiper-slide {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.-swiper .swiper .swiper-button {

}

.-swiper .swiper .swiper-button.swiper-button-next {

}

.-swiper .swiper .swiper-button.swiper-button-prev {

}
