<div class="link-list">
  <a href="{{ path('backend_eazycontrol_index') }}" class="link">
    <i class="fas fa-network-wired"></i> <span>Settings</span>
  </a>
  <a href="{{ path('backend_category_index') }}" class="link">
    <i class="fas fa-network-wired"></i> <span>Categories</span>
  </a>
  <a href="#" class="link">
    <i class="fas fa-network-wired"></i>
  </a>
  <a href="#" class="link">
    <i class="fas fa-network-wired"></i>
  </a>
</div>
<div class="link-list">
  <a href="#" class="link">
    <i class="fas fa-network-wired"></i>
  </a>
  <a href="#" class="link">
    <i class="fas fa-network-wired"></i>
  </a>
  <a href="#" class="link">
    <i class="fas fa-network-wired"></i>
  </a>
  <a href="#" class="link">
    <i class="fas fa-network-wired"></i>
  </a>
</div>