<div class="tree">
  <span class="h5">Website</span>
  {{ include('@backend/theme/menu.html.twig', {menu: backend.eazyControl.website, type: 'website', icon: 'fa-network-wired'}) }}
  <br>
  <span class="h5">Shop</span>
  {{ include('@backend/theme/menu.html.twig', {menu: backend.eazyControl.shop, type: 'shop', icon: 'fas fa-store'}) }}
  <br>
  <span class="h5">Blog</span>
  {{ include('@backend/theme/menu.html.twig', {menu: backend.eazyControl.blog, type: 'blog', icon: 'far fa-newspaper'}) }}
</div>