<section class="section section-facts">
  <div class="container-fluid facts-container">
    <div class="row facts-row">
      <div class="col-md-3 facts-col">
        <div class="fact">
          <div class="fact-number">
            <span class="heading">285K</span>
          </div>
          <div class="fact-title">
            <span class="heading">HAPPY CUSTOMER</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 facts-col">
        <div class="fact">
          <div class="fact-number">
            <span class="heading">510</span>
          </div>
          <div class="fact-title">
            <span class="heading">LINES OF CODES</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 facts-col">
        <div class="fact">
          <div class="fact-number">
            <span class="heading">285K</span>
          </div>
          <div class="fact-title">
            <span class="heading">PROJECTED COMPLETED</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 facts-col">
        <div class="fact">
          <div class="fact-number">
            <span class="heading">285K</span>
          </div>
          <div class="fact-title">
            <span class="heading">CUP OF COFFEES</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
