{% extends "@frontend/theme/layout/blank.html.twig" %}
{% block body %}
<div class="error">
  <div class="container">
    <div class="row error-row">
      <div class="col-md-6 error-col">
        <div class="error-number">
          <span class="heading">404</span>
        </div>
        <div class="error-title">
          <span class="heading">Oops!</span>
        </div>
        <div class="error-text">
          <p><b>We're sorry</b> , The page you were looking for doesn't exist anymore.</p>
        </div>
        <div class="error-link">
          <a href="/" class="btn">Back to Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
